column_config:
  rules:
    minimal_rule:
      operator: AND
      columns:
      - Firstname
      - Middle name
      - Surname
      - Order in publication
      severity: error
    coi_rule:
      operator: AND
      columns:
      - Declares
      severity: warning
validation_config:
  validations:
  - name: check_missing_order
  - name: check_duplicate_order
  - name: check_missing_surname
  - name: check_missing_firstname
  - name: check_duplicate_initials
  - name: check_duplicate_names
  - name: check_coi
    dependencies:
    - '"Declares" %in% colnames(contributors_table)'
