column_config:
  rules:
    minimal_rule:
      operator: AND
      columns:
      - Firstname
      - Middle name
      - Surname
      - Order in publication
      severity: error
    funding_rule:
      operator: AND
      columns:
      - Funding
      severity: warning
validation_config:
  validations:
  - name: check_missing_order
  - name: check_duplicate_order
  - name: check_missing_surname
  - name: check_missing_firstname
  - name: check_duplicate_initials
  - name: check_duplicate_names
