column_config:
  rules:
    minimal_rule:
      operator: AND
      columns:
      - Firstname
      - Middle name
      - Surname
      - Order in publication
      severity: error
    affiliation_rule:
      operator: OR
      columns:
      - Primary affiliation
      - Secondary affiliation
      regex: ^Affiliation [0-9]+$
      severity: error
    title_rule:
      operator: AND
      columns:
      - Corresponding author?
      - Email address
      severity: warning
validation_config:
  validations:
  - name: check_missing_order
  - name: check_duplicate_order
  - name: check_missing_surname
  - name: check_missing_firstname
  - name: check_duplicate_initials
  - name: check_duplicate_names
  - name: check_missing_corresponding
    dependencies:
    - '"Corresponding author?" %in% colnames(contributors_table)'
  - name: check_missing_email
    dependencies:
    - '"Corresponding author?" %in% colnames(contributors_table)'
    - self$results[["check_missing_corresponding"]]$type == "success"
    - '"Email address" %in% colnames(contributors_table)'
  - name: check_affiliation
  - name: check_affiliation_consistency
