#title {
  color: #D45F68;
  font-weight: 700;
  display: inline;
}

#sub-title {
  color: #b2dcce;
  font-weight: 500;
  display: inline;
}

.main-steps-panel {
  background-color: #b2dcce;
  box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

.main-steps-title {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  color: #D45F68;
}

#intro-panel {
  background-color: #ffec9b;
  box-shadow: none;
  border: none;  
}

.btn-primary {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 7px;
}

.btn-primary:hover {
  color: #7ec4ad;
  border-color: #7ec4ad;
  background-color: #C4E4D9;
}

.btn-primary[disabled]:hover {
  color: #7ec4ad;
  border-color: #7ec4ad;
  background-color: #C4E4D9;
}

.btn-primary:focus {
  border-color: #193B30;
  background-color: #2A5D4F;
  outline: none;
}

.btn-primary:visited {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
}

.btn-primary:active {
  border-color: #224C40;
  background-color: #3A806D !important;
}

.upload-btn {
  color: #326F5E;
  padding: 3;
  margin: 2;
  border: none;
  background: Transparent no-repeat;
}

.upload-btn:hover {
  color: #7ec4ad;
  background: Transparent no-repeat;
  border: none;
  padding: 3;
  margin: 2;
}

.upload-btn:visited {
  color: #D45F68;
  border: none;
  background: Transparent no-repeat;
  padding: 3;
  margin: 2;
}

.upload-btn:active {
  border: none;
  color: #122822;
  background: Transparent no-repeat;
  padding: 3;
  margin: 2;
}

.upload-btn:active:hover {
  border: none;
  color: #122822;
  background: Transparent no-repeat;
  padding: 3;
  margin: 2;
}

.upload-btn:focus {
  border: none;
  color: #D45F68;
  background: Transparent no-repeat;
  outline: none;
  padding: 3;
  margin: 2;
}

.swal2-icon.swal2-info {
  border-color: #ffec9b !important;
  color: #FFDD4F !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #D5ECE4 !important;
}

.swal2-icon.swal2-success {
  color: #D5ECE4 !important;
}

.swal2-icon.swal2-error {
  color: #D45F68 !important;
}

.swal2-content {
  text-align: center !important;
}

.progress-bar{
  background-color: #7ec4ad;
}

.form-control:focus {
  border-color: #7ec4ad;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(84, 200, 155, 1);
}

#about_modal_ui_1-open_about {
  color: #D45F68; border-color: #D45F68;
}

.form-control{
  border-color: #7ec4ad;
}

.form-control[readonly] {
  background-color: #F8FCFB;
}

a {
  color: #D45F68 !important;
}

a:hover {
  color: #B6313B !important;
}

.download-report {
  color: #333 !important;
}

.download-report:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.btn:focus{
  outline: none !important;
}

.well{
  padding: 17px;
}

/* toggle switch bar on mode */
.material-switch>label:before {
  background: #D45F68;
  box-shadow: none;
  opacity: .5;
}

/* toggle switch bar off mode */
.material-switch>input[type=checkbox]:checked+label:before {
  background: #D45F68;
  opacity: .5;
}

/* toggle switch toggle on mode */
.material-switch>label:after {
  background: #7ec4ad;
  box-shadow: none;
}

/* toggle switch toggle off mode */
.material-switch>input[type=checkbox]:checked+label:after {
  background: #7ec4ad;
}