/* navbar row background */
.navbar-default {
  background: none !important;
  border: none !important;
}

/* navbar title from the side */
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 10px;
}

/* navbar tabs from title */
.navbar-nav {
  margin-left: 30px;
}

/* tabs */
.navbar-nav li a {
  color: black !important;
  font-weight: bold !important;
  margin-left: 20px;
  padding-bottom: 5px;
  text-decoration:none
}

/* tabs on hover */
.navbar-nav li a:hover {
  color: #D45F68 !important;
  background-color: white !important;
  background-image: none !important;
  border-bottom: 3px solid #D45F68;
  margin-bottom: -2px;
  padding-bottom: 5px;
  text-decoration:none
}

/* active tabs */
.navbar-nav > .active > a {
  color: #D45F68 !important;
  background-color: white !important;
  background-image: none !important;
  border-bottom: 3px solid #D45F68;
  margin-bottom: -2px;
  padding-bottom: 5px;
  text-decoration:none
}

.navbar-nav > .active > a:hover {
  border-bottom: 3px solid #D45F68;
  text-decoration:none
}

#title {
  color: #D45F68;
  font-weight: 700;
  display: inline;
  margin: 0;
}

#sub-title {
  color: #b2dcce;
  font-weight: 500;
  display: inline;
  margin: 0;
}

#title-container {
  margin: -11px auto;
  padding: 0;
}

.main-steps-container {
  display: block;
  margin: 0 auto 10px;
  width: 50%;
}

.main-steps-panel {
  width: 90%;
  background-color: #b2dcce;
  box-shadow: none;
  border: none;
  display: block;
}

.help-icon-container {
  display: block;
  float: right;
  position: relative;
  top: 15px;
  right: 20px;
}

.help-icon {
  color: #D45F68;
  font-size: 2em;
}

.main-steps-title-container {
  /*margin: 0 auto;
  width: 40%;*/
  display: block;
}

.main-steps-title-number {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 0;
  color: #ecd149 !important;
  margin-left: -35px;
}

.main-steps-title {
  color: #D45F68 !important;
  line-height: 1.1;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 0;
}

.main-steps-desc {
  color: black !important;
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
}

#intro-panel {
  width: 60%;
  margin: 0 auto;
  background-color: #ffec9b;
  box-shadow: none;
  border: none;  
}

#about-panel {
  width: 60%;
  margin: 0 auto;
  background-color: #ffec9b;
  box-shadow: none;
  border: none;
}

.btn-primary {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-primary:hover {
  color: #7ec4ad;
  border-color: #7ec4ad;
  background-color: #C4E4D9;
}

.btn-primary[disabled]:hover {
  color: #7ec4ad;
  border-color: #7ec4ad;
  background-color: #C4E4D9;
}

.btn-primary:focus {
  border-color: #193B30;
  background-color: #2A5D4F;
  outline: none;
}

.btn-primary:visited {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
}

.btn-primary:active {
  border-color: #224C40;
  background-color: #3A806D !important;
}

.btn-close {
  color: #D45F68;
  border-color: #D45F68;
  background: Transparent no-repeat;
}

.btn-close:hover {
  color: #D45F68;
  border-color: #D45F68;
  background: #edbfc2;
}

.btn-close:focus {
  border-color: #a94c53;
  background-color: #be555d;
  outline: none;
}

.btn-close:visited {
  color: #be555d;
  border-color: #be555d;
  background: Transparent no-repeat;
}

.btn-close:active {
  border-color: #be555d;
  background-color: #dc7e86 !important;
}

.btn-download {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
}

.btn-download:hover {
  color: #326F5E;
  border-color: #326F5E;
  background-color: #C4E4D9 !important;
}

.btn-download[disabled]:hover {
  color: #7ec4ad;
  border-color: #7ec4ad;
  background-color: #C4E4D9;
}

.btn-download:focus {
  border-color: #193B30;
  background-color: #2A5D4F;
  outline: none;
}

.btn-download:visited {
  color: #326F5E;
  border-color: #326F5E;
  background: Transparent no-repeat;
}

.btn-download:active {
  border-color: #224C40;
  background-color: #3A806D !important;
}

.swal2-icon.swal2-info {
  border-color: #ffec9b !important;
  color: #FFDD4F !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #D5ECE4 !important;
}

.swal2-icon.swal2-success {
  color: #D5ECE4 !important;
}

.swal2-icon.swal2-error {
  color: #D45F68 !important;
}

.swal2-content {
  text-align: center !important;
}

.progress-bar{
  background-color: #7ec4ad;
}

.form-control:focus {
  border-color: #7ec4ad;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(84, 200, 155, 1);
}

#about_modal-open_about {
  margin-right: 10px;
  color: #D45F68; 
  border-color: #D45F68;
}

.form-control{
  border-color: #7ec4ad;
}

.form-control[readonly] {
  background-color: #F8FCFB;
}

.link {
  color: #D45F68 !important;
  text-decoration: underline;
}

.link:hover {
  color: #B6313B !important;
  text-decoration: underline;
}

.btn:focus{
  outline: none !important;
}

.well{
  padding: 17px;
}

/* toggle switch bar on mode */
.material-switch>label:before {
  background: #D45F68 !important;
  box-shadow: none !important;
  opacity: .5 !important;
}


/* toggle switch bar off mode */
.material-switch>input[type=checkbox]:checked+label:before {
  background: #D45F68 !important;
  opacity: .5 !important;
}

/* toggle switch toggle on mode */
.material-switch>label:after {
  background: #7ec4ad !important;
  box-shadow: none !important;
}

/* toggle switch toggle off mode */
.material-switch>input[type=checkbox]:checked+label:after {
  background: #7ec4ad !important;
}

#read_spreadsheet-upload_file {
  margin-bottom: 0 !important;
  margin-top: -5px;
}

#show_spreadsheet-show_data {
  margin-top: 10px;
}

/* 
#read_spreadsheet-upload_url {
  margin-bottom: 0 !important;
  margin-top: 35px;
}
 */

/* tabsetpanel tabpanel menu */
.nav-tabs > li > a {
  background-color: #b2dcce;
  color: #326F5E !important;
  border: 0;
  padding-bottom: 5px;
  text-decoration:none
}

.nav-tabs > li.active > a {
  background-color: #b2dcce;
  font-weight: bold;
  color: #326F5E !important;
  border: 0;
  border-bottom: 3px solid #326F5E;
  text-decoration:none
}

.nav-tabs > li.active > a:hover {
  background-color: #b2dcce;
  font-weight: bold;
  color: #326F5E !important;
  border: 0;
  border-bottom: 3px solid #326F5E;
  text-decoration:none
}

.nav-tabs > li.active > a:active {
  background-color: #b2dcce;
  font-weight: bold;
  color: #326F5E !important;
  border: 0;
  border-bottom: 3px solid #326F5E;
  text-decoration:none
}

.nav-tabs > li.active > a:focus {
  background-color: #b2dcce;
  font-weight: bold;
  color: #326F5E !important;
  border: 0;
  border-bottom: 3px solid #326F5E;
  text-decoration:none
}

.nav > li > a:hover {
  background-color: transparent;
  font-weight: bold;
  border: none;
  text-decoration:none
}

/*
.nav > li > a:hover {
  background-color: #b2dcce;
  color: #326F5E !important;
  font-weight: bold;
  border: none;
}
*/

/* Line under navtab */
.nav-tabs {
  border-bottom: none;
  margin: -15px auto 15px;
  text-decoration:none
} 

.btn-file {
  border-color: #b2dcce !important;
}

#support-div {
  position: absolute;
  top: 30px;
  right: 60px;
  padding: 10px;
}

#support-btn {
  color: white !important;
  background: #D45F68;
  border: 1px solid #D45F68;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

#support-btn:hover {
  color: white !important;
  background: #dc7e86;
  border: 1px solid #dc7e86;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 10px; /* Add spacing between validation results */
  border-radius: 5px;  /* Rounded corners for alert boxes */
  text-align: left;
}

.alert-warning {
  background-color: #FFDD4F !important; /* Yellow for warnings */
  color: black !important; /* Text color for warnings */
}

.alert-danger {
  background-color: #d45f68 !important; /* Red for errors */
  color: #fff !important; /* White text for errors */
}
